*{
    margin: 0;
    padding: 0;

}

.container {
	max-width: 40%;
	margin: 200px auto 0;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
	box-shadow: 0px 5px 16px 3px #dddd;
	border-radius: 4px;
}
.container h1 {
	margin-bottom: 40px;
	color: #ee0f0f;
	font-weight: 600;
}
.container hr {
	margin-top: 24px;
}
.container input {
	padding: 10px;
}
button {
	padding: 10px;
	background: #3a55e8;
	color: #fff;
	border: none;
	border-radius: 5px;
}

.container p {
	margin-top: 20px;
	font-size: 30px;
}





